@import '../variables/setVariables';

.map-container {
  position: relative;
  height: 90%;
  width: 90%;
  background-color: $pr-pale-blue;
  .carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $pr-pale-gray;

    .carousel-indicators {
      z-index: 401;
      bottom: 40px;
      li {
        color: red;
      }
      li:after {
        color: red;
      }
    }

    a {
      z-index: 401;
    }
    a:hover {
      background-color: #000;
      opacity: 0.2;
    }

    .carousel-item {
      z-index: 401;
      .carousel-caption {
        position: relative;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        right: auto;
        left:auto;
        h3 {
          color: white;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
          font-size: 17px;
          font-weight: bold;
        }
        p {
          color: white;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

  }
  .map {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $pr-pale-gray;
  }
}
